// White
$color__white: #ffffff;


// Black/Gray
$color__black--000: #0d0d0d;
$color__black--050: #1a1a1a;
$color__black--100: #262626;
$color__black--150: #333333;
$color__black--200: #404040;
$color__black--250: #4d4d4d;
$color__black--300: #595959;
$color__black--350: #666666;
$color__black--400: #737373;
$color__black--450: #808080;
$color__black--500: #8c8c8c;
$color__black--550: #999999;
$color__black--600: #a6a6a6;
$color__black--650: #b3b3b3;
$color__black--700: #bfbfbf;
$color__black--750: #cccccc;
$color__black--800: #d9d9d9;
$color__black--850: #e6e6e6;
$color__black--900: #f2f2f2;

$color__black: $color__black--000;

// Orange
$color__orange: #ff7a00;

// Red Orange
$color__red-orange: #ff5e00;

// Blue
$color__blue: #2980ba;
