html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
}

.timeline-example {
  margin-top: 2rem;

  &--fixed {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.demo {
  &__metadata {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.925rem;
    color: $color__black--200;
  }

  &__metadata-label {
    font-weight: 700;
    color: $color__black--300;
  }

  &__code {
    display: flex;
    flex-direction: column;
    align-items: center;

    code {
      border: 1px solid $color__black--300;
      border-radius: 5px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__navigation {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.925rem;
    color: $color__black--200;

    ul {
      list-style: none;
    }
  }
}
