.timeline {
  &__list {
    width: 100%;
    background-color: #1a1a1a;
    height: 100px;
    min-height: 100px;
    position: relative;
    border-top: 1px solid #727272;
    box-shadow: 0 -10px 15px 0 rgba(0,0,0,.3);
    color: white;
  }
}