* > * {
  box-sizing: border-box;
}

.timeline {
  display: flex;
  flex-direction: row;
  user-select: none;

  &__outer-wrapper {
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background: transparent;
      background: linear-gradient(
        90deg,
        rgba($color__black--050, 0.9) 0%,
        rgba($color__black--050, 0.6) 1%,
        rgba($color__black--050, 0.6) 3%,
        rgba($color__black--050, 0) 20%,
        rgba($color__black--050, 0) 100%
      );
      z-index: 2;
    }
  }

  &__wrapper {
    z-index: 0;
    overflow: hidden;
    min-width: 100%;
    width: 100%;
    position: relative;
  }

  &__center {
    display: none;
    height: 100%;
    width: 1px;
    background-color: red;
    position: absolute;
    left: 50%;
    z-index: 1;
  }
}
